{% extends "base2.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="jumbotron">
            <h3> Enter New Grade For the Student {{ student_name }}</h3>
            <form action="{{url_for('edit_existing_grade')}}">
                <label for="student_name"> Student Name:</label>
                <input type="text" name="student_name" value="{{ student_name }}" readonly>
                <label for="grade">Grade</label>
                <input type="number" name="grade">
                <input type="submit" value="Edit Grade">
            </form>
        </div>
    </div>
{% endblock %}
