{% extends "base2.html" %}
{% block content %}
<div class="jumbotron">
<p> Welcome to Student Grade Application</p>
    <div class="jumbotron">
        <p> Fill out the form to submit the student grades</p>
        <form action="{{url_for('submit_grade')}}">
            <label for="student_name"> Student Name:</label>
            <input type="text" name="student_name">
            <label for="grade">Grade</label>
            <input type="number" name="grade">
            <input type="submit" value="Submit Grade">
        </form>
    </div>

    <div class="container">
        <p> Enter the Id to delete record</p>
        <form action="{{url_for('delete_record')}}">
            <label for="student_id"> Student Id:</label>
            <input type="text" name="student_id">
            <input type="submit" value="Delete Record">
        </form>
    </div>

<br>

    <div class="container">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
            <div class = "alert alert-danger">
                {{ message }}
            </div>
        {%- endfor %}
    </div>

<br>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-primary" style="width: 100%">
                    <a style="color: black" href = "{{ url_for('show_all') }}">
                        All Students</a>
                </button>
            </div>
            <br>
            <div class="col-6">
                <button type="button" class="btn btn-primary" style="width: 100%">
                    <a style="color: black" href = "{{ url_for('show_greater_than_85') }}">
                        All Students Greater than 85 Grade</a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


