{% extends "base2.html" %}
{% block content %}
    <div class="jumbotron">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.grade }}</td>
                    <td><button type="button" class="btn btn-primary" style="width: 100%">
                        <a style="color: black" href = "{{ url_for('edit_grade', student_name=student.name, grade=student.grade) }}">
                            Edit Grade</a>
                    </button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
